[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.0.0"
pillow = "*"
bpython = "*"
django-braces = "*"
django-embed-video = "*"
python-memcached = "*"
django-memcache-status = "*"
djangorestframework = "*"
requests = "*"
channels = "*"
channels-redis = "*"
uwsgi = "*"
daphne = "*"

[requires]
python_version = "3.8"
